
@*<div>
    @ViewBag.title<br />
    Hoşgeldin @ViewBag.firstName @ViewBag.lastName
</div>
<a href="~/Login/Logout" class="btn btn-danger btn-xs">
    Çıkış
</a>*@


<div class="conBox">
    <div style="float:left;" class="messagedeneme"></div>
    <div class="hosgYazi"> @ViewBag.firstName @ViewBag.lastName</div>
</div>